.cartItem__img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.cartItem__btn:hover {
  background-color: rgb(181, 179, 179);
  color: white !important;
  border: none !important;
}
.emptyCart__img{
  width: 50%;
  height: 250px;
  object-fit: contain;
}
